
<div ng-include src="'ui/templates/shared/header.html'"></div>
<div class="margin-t-b clear"></div>

<div class="container">
    <legend>Welcome to A2Z Couriers</legend>
    <div class="col-md-12 margin-t-b clear">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting</p>
    </div>
    <qr-scanner width="400" height="300" ng-success="onSuccess(data)" ng-error="onError(error)"></qr-scanner >
    <!-- <h2>bc-qr-reader demo</h2>
    <button ng-click="start()">Activate scanner</button>
    <p ng-hide="cameraRequested && !cameraIsOn">Your browser should ask for permission to use the camera.</p>
    <div>
      <bc-qr-reader active="cameraRequested" on-result="processURLfromQR" on-error="onError" camera-status="cameraIsOn" width="200px" height="200px"></bc-qr-reader>
    </div>
    <p ng-show="url">QR code detected!</p>
    <p><b>{{ url }}</b></p> -->
</div>
