<div ng-include src="'ui/templates/shared/header.html'"></div>
<div class="margin-t-b clear"></div>
<!-- <div class="container" ng-init="listit()">
    <legend>Service Availability</legend>
    <div class="col-md-12 margin-t-b clear">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting</p>
    </div>
</div> -->
<div class="container">
    <legend>Light Weight</legend>
    <div class="col-md-6 form-horizontal">
        <div class="form-group">
            <label class="col-md-4 control-label" for="costpergram">Cost per gram</label>
            <div class="col-md-8">
                <input name="costpergram" type="text" placeholder="Cost per gram" class="form-control input-md" required="">
                <!-- <div ng-messages="productform.productname.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div> -->
            </div>
        </div>
    </div>
    <div class="margin-t-b clear"></div>
</div>
<div class="container">
    <legend>Heavy Weight</legend>
    <div class="col-md-6 form-horizontal">
        <div class="form-group">
            <label class="col-md-4 control-label" for="costpergram">Cost for 1 KG</label>
            <div class="col-md-8">
                <input name="costperkg" type="text" placeholder="Cost for 1 KG" class="form-control input-md" required="">
                <!-- <div ng-messages="productform.productname.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div> -->
            </div>
        </div>
    </div>
    <div class="col-md-6 form-horizontal">
        <div class="form-group">
            <label class="col-md-4 control-label" for="costpergram">Cost for 5 KG</label>
            <div class="col-md-8">
                <input name="costfivekgram" type="text" placeholder="Cost for 5 KG" class="form-control input-md" required="">
                <!-- <div ng-messages="productform.productname.$error" ng-if='submitted' class="text-danger">
                                <p ng-message="required">This field is required</p>
                            </div> -->
            </div>
        </div>
    </div>
    <div class="col-md-6 form-horizontal">
        <div class="form-group">
            <label class="col-md-4 control-label" for="costpergram">Cost for 10 KG</label>
            <div class="col-md-8">
                <input name="costtenkgram" type="text" placeholder="Cost for 10 KG" class="form-control input-md" required="">
                <!-- <div ng-messages="productform.productname.$error" ng-if='submitted' class="text-danger">
                                    <p ng-message="required">This field is required</p>
                                </div> -->
            </div>
        </div>
    </div>
    <div class="col-md-6 form-horizontal">
        <div class="form-group">
            <label class="col-md-4 control-label" for="costpergram">Cost for 25 KG</label>
            <div class="col-md-8">
                <input name="costtfivekgram" type="text" placeholder="Cost for 25 KG" class="form-control input-md" required="">
                <!-- <div ng-messages="productform.productname.$error" ng-if='submitted' class="text-danger">
                                        <p ng-message="required">This field is required</p>
                                    </div> -->
            </div>
        </div>
    </div>
    <div class="col-md-6 form-horizontal">
        <div class="form-group">
            <label class="col-md-4 control-label" for="costpergram">Cost for 50 KG</label>
            <div class="col-md-8">
                <input name="costfivezerokgram" type="text" placeholder="Cost for 50 KG" class="form-control input-md" required="">
                <!-- <div ng-messages="productform.productname.$error" ng-if='submitted' class="text-danger">
                                            <p ng-message="required">This field is required</p>
                                        </div> -->
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 text-center">
        <input type="submit" class="btn btn-success" name="submit"  value="Submit" />
        <a href="#/list" class="btn btn-primary">Cancel</a>
    </div>