<div ng-include src="'ui/templates/shared/header.html'"></div>
<div class="margin-t-b clear"></div>
<div class="container" ng-init="listit()">
    <legend>List of Employees</legend>
    <div class="col-md-12 margin-t-b clear">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting</p>
    </div>
    <div class="margin-t-b ">
        <a href="#/employeeDetails" class="btn btn-primary pull-right margin-btn">Add new</a>
        <div class="margin-t-b clear"></div>
    </div>
    <div class="container">
        
        <div class="row">
            <div class="col-md-3">
                <input name="search" type="text" ng-model="searchTable" placeholder="Search" class="form-control input-md">
                <div class="margin-t-b clear"></div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-striped">
                        <thead>
                         <th ng-click="sortData('name')">Warehouse
                                <div ng-class="arrowStyle('name')"></div>
                            </th>
                            <th ng-click="sortData('name')">Name
                                <div ng-class="arrowStyle('name')"></div>
                            </th>
                            <th ng-click="sortData('mobileNumber')">Mobile Number
                                <div ng-class="arrowStyle('mobileNumber')" </th>
                                    <th ng-click="sortData('address')">Address
                                        <div ng-class="arrowStyle('address')" </th>
                                            
                                                           
                                                                    <th>Edit</th>
                                                                    <th>Delete</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="list in employeeList | filter:searchTable">
                                <td ng-bind="list.courierCenter.pincode"></td>
                                <td ng-bind="list.firstName"></td>
                                <td ng-bind="list.mobileNumber"></td>
                                <td ng-bind="list.permanentAddress"></td> 
                               
                                <td>
                                    <p data-placement="top" data-toggle="tooltip" title="Edit">
                                        <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button>
                                    </p>
                                </td>
                                <td>
                                    <p data-placement="top" data-toggle="tooltip" title="Delete">
                                        <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button>
                                    </p>
                                </td>
                            </tr>
                           
                            <tr ng-if="retrivalerr">
                                <td colspan="8" class="text-center">Data not available</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                    <ul class="pagination pull-right">
                        <li ng-disabled="pageButtonDisabled(-1)" ng-click="paginate(-1)"><span class="glyphicon glyphicon-chevron-left"></span></li>
                        <li ng-class="selectedPage == $index && 'active'" ng-repeat="i in getNumber(totalPages) track by $index" ng-click="setPage()"><a>{{$index+1}}</a></li>
                        <li ng-disabled="pageButtonDisabled(1)" ng-click="paginate(1)"><span class="glyphicon glyphicon-chevron-right"></span></li>
                    </ul>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
