<div ng-include src="'ui/templates/shared/header.html'"></div>
<div class="container">
    <div class="margin-t-b clear"></div>
    <legend class="hideit-print">Invoice</legend>
    <div class="col-md-12 margin-t-b hideit-print">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting</p>
    </div>
    <div class="col-md-12 margin-t-b">
        <div class="panel panel-default" id="idone">
            <div class="panel-body">
                    <h1 class="text-center margin-t-b">A2Z Couriers</h1>
                    <hr class="hr-custom"/>
                <div class="margin-15px clear"></div>
                <!-- Select Basic -->
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="date">Date</label>
                        <div class="col-md-8">
                            <p class="input-group" ng-bind="invdata.invoiceDate | date: 'dd/MM/yyyy'">
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="toaddress">To Address</label>
                        <div class="col-md-8">
                            <p class="input-group" ng-bind="invdata.toAddress">
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="courierCenter">Courier Center</label>
                        <div class="col-md-8">
                       
                            <p class="input-group" ng-bind="invdata.couriername">
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="courierCenter">Invoice Id</label>
                        <div class="col-md-8">
                       
                            <p class="input-group" ng-bind="invID">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  col-lg-6 col-sm-6 col-xs-6">
                     
                <qrcode data="{{invID}}" size="200" class="pull-right"></qrcode>
               
                </div>
                <div class="clear margin-30px"></div>
                <div class="col-md-12">
                <table id="stocktable" class="table table-bordred table-striped">
                    <thead>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Invoice Code</th>
                        <th>CGST %</th>
                        <th>SGST %</th>
                        <th>Total Cost</th>
                        <th>Expiry Date</th>                        
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in prd">
                        <td ng-bind="product.product.name"></td>
                        <td ng-bind="product.quantity"></td>
                        <td ng-bind="product.invoiceNumber"></td>
                        <td ng-bind="product.product.cgst"></td>
                        <td ng-bind="product.product.sgst"></td>
                        <td ng-bind="product.product.totalCostProduct"></td>
                        <td ng-bind="product.expiryDate | date: 'dd/MM/yyyy'"></td>                        
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clear margin-15px"></div>
            </div>
        </div>
        <div class="col-md-12 text-center hideit-print">
                <input type="button" class="btn btn-success" name="download"  value="Download" ng-click="printit()" />
                <a href="#/stockDispatch" class="btn btn-primary">Back</a>
            </div>
    </div>
