<div ng-include src="'ui/templates/shared/header.html'"></div>
<div class="margin-t-b clear"></div>
<div class="container">
    <form class="form-horizontal" name="productform" novalidate>
        <fieldset>
            <!-- Form Name -->
            <legend>Product Entry</legend>
            <div class="col-md-12 margin-t-b">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                    typesetting
                </p>
            </div>
            <div class="margin-t-b clear"></div>
            <!-- Select Basic -->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="productname">Product Name</label>
                    <div class="col-md-8">
                        <input name="productname" type="text" ng-model="product.name" placeholder="Product Name" class="form-control input-md" required="">
                        <div ng-messages="productform.productname.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Text input-->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="productcode">Product Code</label>
                    <div class="col-md-8">
                        <input name="productcode" type="text" ng-model="product.code" placeholder="Product Code" class="form-control input-md" required="">
                        <div ng-messages="productform.productcode.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="productimage">Product Image</label>
                    <div class="input-group custom-pad col-md-8">
                        <input type="text" class="form-control" name="productimage" ng-model="productImage.name" readonly required="">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                Browse
                                <input type="file" style="display: none;" file-upload="productImage" multiple>
                            </span>
                        </label>
                    </div>
                    <div class="pull-right col-md-8">
                        <div ng-messages="productform.productimage.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img ng-src="{{ImageSrc || productDownload ||'ui/images/product.png'}}" class="pull-right" style="width:200px;height:140px"
                />
            </div>
            <div class="margin-t-b clear"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="productcode">Product Cost</label>
                    <div class="col-md-8">
                        <input name="productcost" type="number" ng-model="product.cost" placeholder="Product Cost" class="form-control input-md"
                            required="">
                        <div ng-messages="productform.productcost.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="productcode">Product Central GST %</label>
                    <div class="col-md-8">
                        <input name="productcgst" type="number" ng-model="product.cgst" placeholder="Product Central GST" class="form-control input-md"
                            required="">
                        <div ng-messages="productform.productcgst.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="productcode">Product State GST %</label>
                    <div class="col-md-8">
                        <input name="productsgst" type="number" ng-model="product.sgst" placeholder="Product State GST" class="form-control input-md"
                            required="">
                        <div ng-messages="productform.productsgst.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="checkheavy"></label>
                    <div class="col-md-8">
                        <div class="checkbox">
                            <label><input type="checkbox" name="checkheavy"  ng-model="checkHeavy">Heavy Weight</label>
                          </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-6" ng-show="checkHeavy">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="weightkgs">Weight In Kgs</label>
                    <div class="col-md-8">
                        <input name="weightkgs" type="number" ng-model="weightInKgs" placeholder="Weight in Kgs" class="form-control input-md" >
                        <div ng-messages="productform.weightkgs.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-12 text-center" ng-hide="editData">
                <input type="submit" class="btn btn-success" name="submit" ng-click="save();" value="Submit" />
                <a href="#/list" class="btn btn-primary">Cancel</a>
            </div>
            <div class="col-md-12 text-center" ng-show="editData">
                <input type="submit" class="btn btn-success" name="submit" ng-click="saveEditProduct();" value="Submit" />
                <a class="btn btn-primary" ng-click="cancelEdit()">Cancel</a>
            </div>

        </fieldset>
    </form>
    <div class="margin-t-b clear"></div>
    <div class="col-md-5">
        <div class="col-md-9">
            <input name="search" type="text" ng-model="searchProduct" placeholder="Search" class="form-control input-md col-md-3">
        </div>
        <input type="button" class="btn btn-success" name="submit" ng-click="searchProducts();" value="Search" />
        <div class="margin-t-b clear"></div>
    </div>
    <div class="col-md-5">
        <p>Total no of products - {{products.length}}</p>
    </div>
    <div class="margin-t-b clear"></div>

    <div class="col-md-12" ng-if="!loader">
        <div class="display-flex">

        <div class="media block-update-card col-md-6" ng-repeat="product in reddit.items">
            <a class="pull-left" href>
                <img class="media-object update-card-MDimentions" no-cache-src="{{product.photo  ||'ui/images/product.png'}}" return-url="product.newurl">
            </a>
            <div class="media-body update-card-body">
                <button class="btn btn-primary btn-xs pull-right" data-title="Edit" ng-click="productModify(product)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <h4 class="media-heading padding-left-15px" ng-bind="product.name"></h4>
                <p class="padding-left-15px"ng-bind="product.code"></p>
                <div class="col-md-12 row">
                    <div class="col-md-3">
                        <p><b>Cost</b></p>
                        <p ng-bind="product.cost"></p>
                    </div>
                    <div class="col-md-3">
                        <p><b>CGST %</b></p>
                        <p ng-bind="product.cgst"></p>
                    </div>
                    <div class="col-md-3">
                        <p><b>SGST %</b></p>
                        <p ng-bind="product.sgst"></p>
                    </div>
                    <div class="col-md-3">
                        <p><b>Total Cost</b></p>
                        <p ng-bind="product.totalCost"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="margin-t-b clear"></div>
        <div class="col-md-12 show-more">
            <p class="text-center font-size-17px margin-0">
                <a href ng-click="reddit.nextPage()">Show More....</a>
            </p>
        </div>
    </div>

</div>
<div ng-if="loader">
    <img class="loader-style" src="ui/images/loader.svg">
</div>
</div>
<!-- data-toggle="modal" data-target="#edit" -->
<div class="margin-t-b clear"></div>

</div>