<div ng-include src="'ui/templates/shared/header.html'"></div>
<div class="margin-t-b clear"></div>
<div class="col-md-12 text-center">
                <p ng-if="regSuccess" class="text-success">User successfully registered</p>
                <p ng-if="regError" class="text-danger">{{errorMsg}}</p>
            </div>
<div class="margin-t-b clear"></div>

<div class="container" ng-show="!loader">
    <form class="form-horizontal" name="registrationform" novalidate>
        <fieldset>
            <!-- Form Name -->
            <legend>Registration</legend>
            <div class="col-md-12 margin-t-b">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting</p>
            </div>
            <div class="margin-t-b clear"></div>
            <!-- Select Basic -->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="firstname">First Name</label>
                    <div class="col-md-8">
                        <input name="firstName" type="text" ng-model="courierBoy.firstName" placeholder="First Name" class="form-control input-md" required="">
                        <div ng-messages="registrationform.firstName.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Text input-->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="firstname">Last Name</label>
                    <div class="col-md-8">
                        <input name="lastName" type="text" ng-model="courierBoy.lastName" placeholder="Last Name" class="form-control input-md">
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-6">
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="mobilenumber">Mobile Number</label>
                    <div class="col-md-8">
                        <input name="mobileNumber" type="text" ng-model="courierBoy.mobileNumber" placeholder="Mobile Number" class="form-control input-md" required="">
                        <div ng-messages="registrationform.mobileNumber.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="alternatenumber">Alternate Number</label>
                    <div class="col-md-8">
                        <input name="alternateNumber" type="text" ng-model="courierBoy.alternateNumber" placeholder="Alternate Number" class="form-control input-md">
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-6">
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="companynumber">Company Number</label>
                        <div class="col-md-8">
                            <input name="companyNumber" type="text" ng-model="courierBoy.companyMobileNo" placeholder="Company Number" class="form-control input-md" required="">
                            <div ng-messages="registrationform.mobileNumber.$error" ng-if='submitted' class="text-danger">
                                <p ng-message="required">This field is required</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="issuedate">Issued Date</label>
                        <div class="col-md-8">
                                <p class="input-group">
                                        <input name="issuedate" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="courierBoy.mobileNoIssueDate" is-open="popup1.opened"
                                            datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                                        />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open1()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            <div class="col-md-6">
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="username">User Name</label>
                    <div class="col-md-8">
                        <input name="userName" type="text" ng-disabled="disabled" ng-model="courierBoy.user.username" placeholder="User Name" class="form-control input-md">
                        <div ng-messages="registrationform.password.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="password">Password</label>
                    <div class="col-md-8">
                        <input name="password" type="password" ng-model="courierBoy.user.password" placeholder="Password" class="form-control input-md" required="">
                        <div ng-messages="registrationform.password.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-6">
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="permanentAddress">Permanent Address</label>
                    <div class="col-md-8">
                        <textarea placeholder="Permanent Address" name="permanentAddress" ng-model="courierBoy.permanentAddress" class="form-control input-md" required=""></textarea>
                        <div ng-messages="registrationform.permanentAddress.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="currentAddress">Current Address</label>
                    <div class="col-md-8">
                        <textarea placeholder="Current Address" name="currentAddress" ng-model="courierBoy.currentAddress" class="form-control input-md" required=""></textarea>
                        <div ng-messages="registrationform.currentAddress.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="vtype">Vehicle Type</label>
                    <div class="col-md-8">
                        <select id="" name="vehicleType" ng-model="courierBoy.vehicleType" class="form-control">
                            <option value="2W">Two Wheeler</option>
                            <option value="4W">Four Wheeler</option>
                        </select>
                        <div ng-messages="registrationform.vehicleType.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="vehicleName">Vehicle Name</label>
                    <div class="col-md-8">
                        <input name="vehicleName" type="text" ng-model="courierBoy.vehicleName" placeholder="vehicle Name" class="form-control input-md" required="">
                        <div ng-messages="registrationform.vehicleName.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="dlnumber">DL Number</label>
                    <div class="col-md-8">
                        <input name="dlNumber" type="text" ng-model="courierBoy.dlNumber" placeholder="DL Number" class="form-control input-md" required="">
                        <div ng-messages="registrationform.dlNumber.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="batchnumber">Batch Number</label>
                    <div class="col-md-8">
                        <input name="batchNumber" type="text" ng-model="courierBoy.batchNumber" placeholder="Batch Number" class="form-control input-md">
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="bankname">Bank Name</label>
                    <div class="col-md-8">
                        <input name="bankName" type="text" ng-model="courierBoy.bankName" placeholder="Bank Name" class="form-control input-md" required>
                        <div ng-messages="registrationform.bankName.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="accntname">Bank Account Holder Name</label>
                    <div class="col-md-8">
                        <input name="accntName" type="text" ng-model="courierBoy.bankAccountHolderName" placeholder="Bank Account Holder Name" class="form-control input-md" required="">
                        <div ng-messages="registrationform.accntName.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="accountnumber">Account Number</label>
                    <div class="col-md-8">
                        <input name="accountNumber" type="text" ng-model="courierBoy.bankAccountNumber" placeholder="Account Number" class="form-control input-md" required="">
                        <div ng-messages="registrationform.accountNumber.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="ifsccode">IFSC Code</label>
                    <div class="col-md-8">
                        <input name="ifscCode" type="text" ng-model="courierBoy.bankIfscCode" placeholder="IFSC Code" class="form-control input-md" required="">
                        <div ng-messages="registrationform.ifscCode.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
                   <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="vehicleOwner">Vehicle Owner</label>
                    <div class="col-md-8">
                        <select id="vehicleOwner" name="vehicleOwner" ng-model="courierBoy.vehicleOwner" class="form-control">
                            <option value="S">Self</option>
                            <option value="C">Company</option>
                        </select>
                        <div ng-messages="registrationform.vehicleOwner.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
               <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="batchnumber">Driving Licence</label>
                    <div class="input-group custom-pad col-md-8">
                        <input type="text" class="form-control" name="dl" ng-model="drivingLicense.name" readonly required="">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                Browse <input type="file" style="display: none;" name="dl" file-upload="drivingLicense" multiple required="">
                            </span>
                        </label>
                    </div>
                    <div class="pull-right col-md-8">
                        <div ng-messages="registrationform.dl.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="batchnumber">RC Book</label>
                    <div class="input-group custom-pad col-md-8">
                        <input type="text" class="form-control" name="rc" ng-model="rcdoc.name" readonly required="">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                Browse <input type="file" style="display: none;"   file-upload="rcdoc" multiple>
                            </span>
                        </label>
                    </div>
                    <div class="pull-right col-md-8">
                        <div ng-messages="registrationform.rc.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
                 <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="batchnumber">Insurance</label>
                    <div class="input-group custom-pad col-md-8">
                        <input type="text" class="form-control" name="ins" ng-model="insurance.name" required="" readonly>
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                Browse <input type="file" style="display: none;"  file-upload="insurance" multiple>
                            </span>
                        </label>
                    </div>
                    <div class="pull-right col-md-8">
                        <div ng-messages="registrationform.ins.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        
       
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="batchnumber">Road Tax</label>
                    <div class="input-group custom-pad col-md-8">
                        <input type="text" class="form-control" name="rt" ng-model="roadTax.name" readonly required="">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
								Browse <input type="file" style="display: none;"   file-upload="roadTax" multiple>
							</span>
                        </label>
                    </div>
                    <div class="pull-right col-md-8">
                        <div ng-messages="registrationform.rt.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>
                 <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="batchnumber">Photo</label>
                    <div class="input-group custom-pad col-md-8">
                        <input type="text" class="form-control" name="photo" ng-model="photo.name" readonly required="">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                Browse <input type="file" style="display: none;"  file-upload="photo" multiple>
                            </span>
                        </label>
                    </div>
                    
                    <div class="pull-right col-md-8">
                        <div ng-messages="registrationform.photo.$error" ng-if='submitted' class="text-danger">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                    
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="issuedate">Return Date</label>
                                <div class="col-md-8">
                                        <p class="input-group">
                                                <input name="issuedate" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="courierBoy.mobileNoReturnDate" is-open="popup2.opened"
                                                    datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                                                />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open2()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                            </p>
                                </div>
                            </div>
                       
            </div>
            
            <div class="col-md-6">
                 <img ng-src="{{ImageSrc || 'ui/images/avatar.jpg'}}" class="pull-right" style="width:145px;height:140px"/>
            </div>
            <div class="clear"></div>
       
            
            <div class="clear"></div>
            <div class="col-md-12 text-center">
                <input type="submit" class="btn btn-success" name="submit" ng-click="save();" value="Submit" />
                <a href="#/list" class="btn btn-primary">Cancel</a>
            </div>
            
        </fieldset>
    </form>
    <div class="margin-t-b clear"></div>
</div>

            <div ng-show="loader">
                        <img class="loader-style" src="ui/images/loader.svg">
                    </div>
</div>
